{"http_interactions":[{"request":{"method":"post","uri":"https://api.twitter.com/1.1/statuses/update.json","body":{"encoding":"UTF-8","string":"status=tweeting+from+an+api+call"},"headers":{"Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":403,"message":"Forbidden"},"headers":{"Content-Disposition":["attachment; filename=json.json"], "Content-Type":["application/json;charset=utf-8"], "Last-Modified":["Thu, 23 Jul 2015 17:09:15 GMT"], "Status":["403 Forbidden"], "X-Access-Level":["read-write"], "X-Connection-Hash":["1e5317f8139d5dcd6ba7c8abef3736f9"], "X-Response-Time":["93"], "X-Transaction":["a361039dd04b421f"], "X-Tsa-Request-Body-Time":["0"], "X-Twitter-Response-Tags":["BouncerCompliant"]},"body":{"encoding":"ASCII-8BIT","string":"{\"errors\":[{\"code\":187,\"message\":\"Status is a duplicate.\"}]}"},"http_version":null},"recorded_at":"Thu, 23 Jul 2015 17:09:15 GMT"},{"request":{"method":"get","uri":"https://api.twitter.com/1.1/statuses/user_timeline.json?count=1","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["attachment; filename=json.json"], "Content-Type":["application/json;charset=utf-8"], "Last-Modified":["Thu, 23 Jul 2015 17:09:15 GMT"], "Status":["200 OK"], "X-Access-Level":["read-write"], "X-Connection-Hash":["2a2a8bba242f49cc4bdae9df7f155c2d"], "X-Rate-Limit-Limit":["180"], "X-Rate-Limit-Remaining":["179"], "X-Rate-Limit-Reset":["1437672255"], "X-Response-Time":["28"], "X-Transaction":["7972fb76f0a0d7a1"], "X-Twitter-Response-Tags":["BouncerCompliant"]},"body":{"encoding":"ASCII-8BIT","string":"[{\"created_at\":\"Thu Jul 23 16:25:59 +0000 2015\",\"id\":624254139778727936,\"id_str\":\"624254139778727936\",\"text\":\"tweeting from an api call\",\"source\":\"\\u003ca href=\\\"http:\\/\\/127.0.0.1:3000\\\" rel=\\\"nofollow\\\"\\u003eAPIcurious\\u003c\\/a\\u003e\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"in_reply_to_user_id_str\":null,\"in_reply_to_screen_name\":null,\"user\":{\"id\":240955419,\"id_str\":\"240955419\",\"name\":\"Max Tedford\",\"screen_name\":\"Max_Tedford\",\"location\":\"Washington, DC\",\"description\":\"\",\"url\":null,\"entities\":{\"description\":{\"urls\":[]}},\"protected\":false,\"followers_count\":39,\"friends_count\":34,\"listed_count\":0,\"created_at\":\"Fri Jan 21 03:30:33 +0000 2011\",\"favourites_count\":2,\"utc_offset\":-14400,\"time_zone\":\"Eastern Time (US \u0026 Canada)\",\"geo_enabled\":true,\"verified\":false,\"statuses_count\":16,\"lang\":\"en\",\"contributors_enabled\":false,\"is_translator\":false,\"is_translation_enabled\":false,\"profile_background_color\":\"1A1B1F\",\"profile_background_image_url\":\"http:\\/\\/abs.twimg.com\\/images\\/themes\\/theme9\\/bg.gif\",\"profile_background_image_url_https\":\"https:\\/\\/abs.twimg.com\\/images\\/themes\\/theme9\\/bg.gif\",\"profile_background_tile\":false,\"profile_image_url\":\"http:\\/\\/pbs.twimg.com\\/profile_images\\/575134590513324033\\/jEHVKY-W_normal.jpeg\",\"profile_image_url_https\":\"https:\\/\\/pbs.twimg.com\\/profile_images\\/575134590513324033\\/jEHVKY-W_normal.jpeg\",\"profile_banner_url\":\"https:\\/\\/pbs.twimg.com\\/profile_banners\\/240955419\\/1357404235\",\"profile_link_color\":\"2FC2EF\",\"profile_sidebar_border_color\":\"181A1E\",\"profile_sidebar_fill_color\":\"252429\",\"profile_text_color\":\"666666\",\"profile_use_background_image\":true,\"has_extended_profile\":false,\"default_profile\":false,\"default_profile_image\":false,\"following\":false,\"follow_request_sent\":false,\"notifications\":false},\"geo\":null,\"coordinates\":null,\"place\":null,\"contributors\":null,\"is_quote_status\":false,\"retweet_count\":0,\"favorite_count\":0,\"entities\":{\"hashtags\":[],\"symbols\":[],\"user_mentions\":[],\"urls\":[]},\"favorited\":false,\"retweeted\":false,\"lang\":\"en\"}]"},"http_version":null},"recorded_at":"Thu, 23 Jul 2015 17:09:15 GMT"}],"recorded_with":"VCR 2.9.3"}